/* CSS Document */

/*********/
/* FONTS */
/*********/

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button:not[disabled],
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text: #111;
  --color-background: lightblue;
  --color-bowl: rgba(246, 246, 246, 0.52);
}

/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: eenfont, sans-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

/* jouw code */
body > section:first-of-type {
  width: 20rem;
  height: 10rem;
  border-radius: 0 0 12rem 12rem;
  background-color: var(--color-bowl);
  z-index: 0;
}

body > section {
  position: relative;
  background-color: blue;
  width: 5rem;
  height: 5rem;
  border-radius: 12rem;
  z-index: -1;
}

/* kleuren  */
/* radial gradient: https://stackoverflow.com/questions/62058136/css-rolling-ball-animation-position */
body > section:nth-of-type(2) {
  background: -webkit-radial-gradient(25px 25px, circle, red, #000);
  background: -moz-radial-gradient(25px 25px, circle, red, #000);
  background: radial-gradient(25px 25px, circle, red, #000);
}

body > section:nth-of-type(3) {
  background: -webkit-radial-gradient(25px 25px, circle, cyan, #000);
  background: -moz-radial-gradient(25px 25px, circle, cyan, #000);
  background: radial-gradient(25px 25px, circle, cyan, #000);
}

body > section:nth-of-type(4) {
  background: -webkit-radial-gradient(25px 25px, circle, green, #000);
  background: -moz-radial-gradient(25px 25px, circle, green, #000);
  background: radial-gradient(25px 25px, circle, green, #000);
}

body > section:nth-of-type(5) {
  background: -webkit-radial-gradient(25px 25px, circle, orange, #000);
  background: -moz-radial-gradient(25px 25px, circle, orange, #000);
  background: radial-gradient(25px 25px, circle, orange, #000);
}

body > section:nth-of-type(6) {
  background: -webkit-radial-gradient(25px 25px, circle, hotpink, #000);
  background: -moz-radial-gradient(25px 25px, circle, hotpink, #000);
  background: radial-gradient(25px 25px, circle, hotpink, #000);
}

body > section:nth-of-type(7) {
  background: -webkit-radial-gradient(25px 25px, circle, darkmagenta, #000);
  background: -moz-radial-gradient(25px 25px, circle, darkmagenta, #000);
  background: radial-gradient(25px 25px, circle, darkmagenta, #000);
}
