/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
  font-family: Circular;
  src: url("../fonts/CircularStd-Book.otf") format("opentype");
}

@font-face {
  font-family: Circular-Bold;
  src: url("../fonts/CircularStd-Bold.otf") format("opentype");
}

/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button:not[disabled],
summary {
  cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-background: white;
  --color-text-most: #111;
  --color-text-button: #535353;
  --color-highlight: #f2f2f2;

  --color-highlight-button: #1DB954;
  --color-text-button-highlight: #eee;
}

/****************/
/* JOUW STYLING */
/****************/

body {
  background-color: var(--color-background);
  color: var(--color-text-most);
  display: block;
  min-width: fit-content;
  margin: 2rem;
}

h1, h2 {
  font-family: circular-bold, sans-serif;
  margin-top: 2rem;
  margin-bottom:1.25rem;
}

li {
  list-style: none;
  font-family: circular, sans-serif;
  font-size: 1rem;
  padding: 1rem 0;
}

li:not(:last-of-type) {
  margin-bottom: .5rem;
}

ul {
  margin-top: 1rem;
}

li:hover {
  background-color: var(--color-highlight);
  width: 30rem;
  border-radius: .5rem;
  padding: 1rem;
  margin-left: -1rem;
}

button {
  font-family: circular, sans-serif;
  background-color: var(--color-highlight);
  color: var(--color-text-button);
	border-radius: 1rem;
  border: none;
	padding: .5rem 1.5rem;
  margin-left: .5rem;
}

button:hover,
button:focus {
  color: var(--color-text-button-highlight);
  background: var(--color-highlight-button);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #181818;
    --color-text-most: #eee;
    --color-highlight: #302c2c;
    --color-text-button: #eee;
  }

  li:hover {
  background-color: var(--color-highlight);
  width: 30rem;
  border-radius: .5rem;
  padding: 1rem;
  margin-left: -1rem;
}
}

